

<div class="dialogStyles">

    <div class="dialogTitle">
        <h2 mat-dialog-title 
            class="title">{{pokemonName | uppercase}}</h2>

        <img class="titleImg"
             *ngIf="pokemonInfoObj"
             src="{{pokemonInfoObj.sprites.front_default}}">
    </div>

    <div class="dialogContent">

        <h4>Lista de movimientos</h4>
        <ul>
            <li *ngFor="let moves of pokemonInfoObj.moves.slice(0,5)">
                {{moves.move.name}}
                
                <a *ngIf="moves.version_group_details[0].level_learned_at != 0"> lo aprende al nivel: {{moves.version_group_details[0].level_learned_at}} </a>
            </li>
            <li>Etc...</li>
        </ul>

    </div>
    <!-- <p *ngIf="pokemonInfoObj">{{pokemonInfoObj.name}}</p> -->
    
    
    <button mat-button 
            mat-dialog-close 
            class="btnCerrar">Cerrar</button>

</div>

