
.btnCerrar {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.dialogTitle {
    display: flex;
    align-items: center;
}

.dialogContent {
    display: block;
    padding-left: 1.5rem;
}

.titleText {
    height: auto;
    margin-right: 10px;
    width: 100px;
}

.contenedorImgFav{
    display: flex;
    align-items: center; /*para centrarlos verticalmente*/
    justify-content: flex-end; /*para que se muestren los elementos pegados a la derecha*/
    gap: 5px;
    flex-grow: 1; /*para ocupar el resto del titulo*/
    margin-right: 2rem;
}