

<div class="dialogStyles"
     *ngIf="pokemonInfoObj">

    <div class="dialogTitle">
        <h2 mat-dialog-title 
            class="title">{{pokemonName | uppercase}}</h2>

        <div class="contenedorImgFav">
            <img class="titleImg"
                 *ngIf="pokemonInfoObj"
                 src="{{pokemonInfoObj.sprites.front_default}}">
            <button mat-icon-button
                    (click)="addRemoveFav()"
                    class="favBtn">
                <mat-icon style="color: red;" *ngIf="isFav()">favorite</mat-icon>
                <mat-icon *ngIf="!isFav()">favorite_border</mat-icon>
            </button>
        </div>
    </div>

    <div class="dialogContent">

        <h4>Lista de movimientos</h4>
        <ul>
            <li *ngFor="let moves of pokemonInfoObj.moves.slice(0,5)">
                {{moves.move.name}}
                
                <a *ngIf="moves.version_group_details[0].level_learned_at != 0"> lo aprende al nivel: {{moves.version_group_details[0].level_learned_at}} </a>
            </li>
            <li>Etc...</li>
        </ul>

    </div>
    <!-- <p *ngIf="pokemonInfoObj">{{pokemonInfoObj.name}}</p> -->
    
    
    <button mat-button 
            mat-dialog-close 
            class="btnCerrar">Cerrar</button>

</div>

<div *ngIf="!pokemonInfoObj"
style="  display: flex;justify-content: center;align-items: center;height: 100%; ">
    <!-- AÑADIR SPINNER MIENTRAS CARGAN LOS DATOS DEL MODAL -->
     <mat-spinner></mat-spinner>
</div>
